html
{
	background-color: #cccccc;
	margin-top: 0px;
}

#pagecontainer 
{
	width: 800px;
	margin: 0 auto;
	background-color: #2b65bf;
}

#content
{
	padding: 5px 15px;
}

p
{
	text-align:justify;
	text-justify:inter-word;
}
